<div class="page">
  <app-brand></app-brand>
  <app-navbar></app-navbar>
  <div class="form_container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>{{ formtitle }}</h2>
      <div class="input_container">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input formControlName="nom" matInput placeholder="Nom" [ngModel]="flore?.nom" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Description" [ngModel]="flore?.description" required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Illustration</mat-label>
          <input formControlName="illustration" matInput placeholder="URL de l'illustration" [ngModel]="flore?.illustration" required/>
        </mat-form-field>
        <input type="submit" value="Enregistrer">
      </div>
    </form>
  </div>
</div>
