<div class="page">
  <app-brand></app-brand>
  <app-navbar></app-navbar>
  <div class="form_container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input_container">
        <h2>Connexion</h2>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input type="password" formControlName="mdp" matInput placeholder="Mot de passe" required>
        </mat-form-field>
        <button class="btn-connexion" type="submit" mat-button>Se connecter</button>
      </div>
    </form>
  </div>
</div>
