<div class="page">
  <app-brand></app-brand>
  <app-navbar></app-navbar>
  <div class="content">
    <div class="flore">
      <img [src]="flore?.illustration"/>
      <div class="text-flore">
        <h2>{{ flore?.nom }}</h2>
        <p>{{ flore?.description?.substr(0,350) + '...' }}</p>
        <a class="aller" mat-button [href]="'/flore/voir/' + flore?.id">Aller</a>
      </div>
      <mat-progress-bar class="progress-bar" mode="determinate" [value]="progress_value"></mat-progress-bar>
    </div>
  </div>
</div>
