.item{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.actions-button{
  margin-top: auto;
}
:host{
  margin: 2rem 1.5rem;
  width: calc((100%/3) - 3rem);
  @media (max-width: 768px) {
    width: 100% !important;
    margin: 2rem 0;
  }
  @media(max-width: 1250px) {
    width: calc((100%/2) - 3rem);
  }
  h2{
    @media(max-width: 1250px) {
      font-size: 1.5rem;
    }
  }
  p{
    @media(max-width: 1250px) {
      font-size: 1.5rem;
    }
  }
}
.delete{
  &:hover{
    background: #e74c3c;
    color: white;
  }
}
.update{
  &:hover{
    background: #f1c40f;
    color: white;
  }
}

.see{
  &:hover{
    background: #688C6C;
    color: white;
  }
}
